<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--处理数据源, 都可以使用mybatis的配置-->
<configuration>
    <settings>
        <!--配置指定使用LOG4J 输出日志-->
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="true"/>
        <!--自动将user_name -> userName, 避免select user_name userName这种写法-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
</configuration>